<%- include ('./partials/head.ejs') %>

<h1> slay app </h1>
<ul id="messages"></ul>
<form id="form" action="">
  <input id="input" autocomplete="off" /><button>Send</button>
</form>

<%- include ('./partials/footer.ejs') %>