<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%=pageTitle%> </title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>

<body>

  <article>
    <h1>Welcome to Top Tracks Discussion</h1>
    <p>Everyone is able to see you username and top three songs of the last 6 months. Discuss each others taste or get a new recommendation!</p>
  </article>

  <section>
    <img src="/images/top-track-logo.png" alt="">
    <ul></ul>
    <form>
      <input type="text" autocomplete="off">
      <button><span>Send</span></button>
    </form>
  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>

</body>

</html>