* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* overflow: hidden; */
    min-height: 100vh;
    min-width: 100vw;
    background: #2d2d2d;
  }

  h3 {
    color: #fff;
    margin: 5%;
    text-align: left;
    font-size: 5vw;
  }

  div {
    max-width: 50%;
  }

div ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

div ul.songs li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #191414;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.14);
}

div ul.songs li {
  list-style: none;
}

   ul.songs li img {
    height: 100px;
    width: 100px;
  }


div ul.songs li h2{
  padding-top: 10px;
    color: #ffff;
    text-align: center;
    font-size: 70%;
  }

div ul.songs li p {
  color: rgb(217, 217, 217);
  text-align: center;
  font-size: 80%;
 }

  
  main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    max-width: 50%;
    height: 30rem;
    background-color: white;
    border-radius:  25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: absolute;
    left:65%;
    top: 12%;
  }
  
  section h1 {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1rem;
  }
  
  section ul {
    margin: 0;
    padding: 0.2em;
    list-style-type: none;
    flex-grow: 2;
    width: 18em;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {
    background: transparent;
  }
  
  section ul > li {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color: rgb(255, 165, 201);
    border-radius: 25px;
    font-size: 0.8rem;
  }
  
  section form {
    margin: 0 0 1rem 0;
    padding: 0;
    width: 18rem;
    height: 2rem;
    display: flex;
  }
  
  section form input[type='text'] {
    margin: 0;
    padding: 0 1rem;
    border: none;
    height: 2rem;
    flex-grow: 2;
    background: rgb(239, 238, 238);
    box-shadow: inset 0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border: 0;
    opacity: 80%;
    outline: none;
  }
  
  section form > button {
    padding: 0 0.6rem 0 0.4rem;
    width: 2rem;
    background: rgb(239, 238, 238);
    box-shadow: inset -0.2rem 0.2rem 0.3rem 0 rgba(209, 205, 199, 0.5);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: 0;
    opacity: 80%;
    outline: none;
    transition: 0.2s;
  }
  
  section form > button span {
    display: none;
  }
  
  section form > button::after {
    content: '⇒';
  }
  
  section form > button:hover {
    padding-left: 1rem;
  }
  
  section form > button:active {
    padding-left: 1rem;
    color: red;
  }